@import "tailwindcss";
button{
    background: #ffaa00;
    border-radius: 10px;
    padding: 5px 100px;
    width: 100%;
    margin-top: 20px;
}
.inputForm{
    border: #ffaa00 2px solid;
    border-radius: 5px;
    width: 100%;
    outline: none;
}
.errorP{
    color: red;
    font-size: 13px;
}
